@model IEnumerable<PlanillajeColectivos.DTO.Otros.cashBackModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Devoluciones Diarias";
}

<h3>No hay devoluciones pendientes</h3>