@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "CIERRE DE CAJA";
}


<h3>Efetivo En Caja: </h3>
<h3>$ @ViewBag.efectivoCaja</h3>

<button class="btn btn-success btn-xs">REALIZAR CIERRE</button>
