<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.9" targetFramework="net461" />
  <package id="EntityFramework" version="6.4.0" targetFramework="net461" />
  <package id="jQuery" version="3.4.1" targetFramework="net461" />
  <package id="jQuery.Validation" version="1.19.1" targetFramework="net461" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.Identity.EntityFramework" version="2.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.Identity.Owin" version="2.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.7" targetFramework="net461" />
  <package id="Microsoft.AspNet.Razor" version="3.2.7" targetFramework="net461" />
  <package id="Microsoft.AspNet.Razor.es" version="3.2.7" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.7" targetFramework="net461" />
  <package id="Microsoft.Owin" version="4.1.0" targetFramework="net461" />
  <package id="Microsoft.Owin.Security" version="4.1.0" targetFramework="net461" />
  <package id="Microsoft.Owin.Security.Cookies" version="4.1.0" targetFramework="net461" />
  <package id="Microsoft.Owin.Security.OAuth" version="4.1.0" targetFramework="net461" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="Owin" version="1.0" targetFramework="net461" />
  <package id="System.IO.FileSystem" version="4.3.0" targetFramework="net461" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.AccessControl" version="6.0.0-preview.5.21301.5" targetFramework="net461" />
  <package id="System.Security.Cryptography.Xml" version="6.0.0-preview.6.21352.12" targetFramework="net461" />
  <package id="System.Security.Permissions" version="6.0.0-preview.6.21352.12" targetFramework="net461" />
  <package id="System.Security.Principal.Windows" version="6.0.0-preview.5.21301.5" targetFramework="net461" />
</packages>